html {
    max-width: 600px;
    font-family: sans-serif;
}

.nav {
    font-size: 60%;
}

.nav a {
    font-weight: bold;
}

.credit {
    font-size: 60%;
}

.small {
    font-size: 60%;
}

.intro {
    font-weight: bold;
}

